.cottage-park {

   &__wrapper {
      padding-top: 95px;
      padding-bottom: 150px;
      padding-left: calc(((100vw - 1440px) / 2) + 190px);

   }

   &__row {
      display: flex;
      gap: 45px;
      justify-content: space-between;
   }

   &__content {
      max-width: 795px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   &__title {}

   &__subtitle {
      color: $dark-brown;
      @include text-1;
   }

   &__description {
      display: flex;
      flex-direction: column;
      gap: 8px;

      a {
         display: inline-block;
         color: $dark-brown;
         position: relative;
         white-space: nowrap;

         &:hover::after {
            transform: scale(0);
         }

         &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 1px;
            background-color: $dark-brown;
            transition: 0.3s;
            transform-origin: center;
         }
      }
   }

   &__image {
      flex: 0 0 calc(310px + 100 * ((100vw - 992px) / (1440 - 992)));
      max-height: 750px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__link {
      color: $dark-brown;
      border: 1px solid $dark-brown;
   }

   @media(max-width: 1439px) {
      &__wrapper {
         padding-left: calc(16px + 174 * ((100vw - 1055px) / (1440 - 1055)));
      }
   }

   @media(max-width: 1055px) {
      &__wrapper {
         padding-left: calc(24vw - 160px);
      }
   }

   @media(max-width: 1039px) {
      &__wrapper {
         padding-left: calc(20vw - 100px);
      }
   }

   @media(max-width: 992px) {

      &__wrapper {
         padding-right: calc(20vw - 100px);
         padding-bottom: 120px;
      }

      &__row {
         flex-direction: column;
      }

      &__image {
         margin-left: calc(-1 * (20vw - 100px));
         margin-right: calc(-1 * (20vw - 100px));
         // overflow: hidden;
         // width: 100vw;
         height: calc(350px + 400 * ((100vw - 320px) / (992 - 320)));
         width: unset;
         flex: unset;
      }
   }

   @media(max-width: 767px) {
      &__wrapper {
         padding-top: 70px;
         padding-left: 15px;
         padding-right: 15px;
      }

      &__image {
         margin-left: -15px;
         margin-right: -15px;
      }
   }

   @media(max-width: 450px) {
      &__title {
         font-size: 36px;
      }
   }
}