.cottage-preorder {

   &__wrapper {
      background-color: $green;
      padding: 120px 0;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__content {
      max-height: 540px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      color: $white;
      text-align: center;
   }

   &__header {
      display: flex;
      flex-direction: column;
      gap: 6px;
   }

   &__title {
      @include description-2;
   }

   &__subtitle {
      font-size: 18px;
      line-height: 145%;
      /* 26.1px */
      letter-spacing: 0.9px;
   }

   &__footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
   }

   &__link {
      max-width: unset;
   }

   @media(max-width: 1055px) {
      &__wrapper {
         padding-left: calc(24vw - 160px);
         padding-right: calc(24vw - 160px);
      }
   }

   @media(max-width: 1039px) {
      &__wrapper {
         padding-left: calc(20vw - 100px);
         padding-right: calc(20vw - 100px);
      }
   }

   @media(max-width: 992px) {
      &__wrapper {
         padding-top: 70px;
         padding-bottom: 70px;
      }
   }

   @media(max-width: 767px) {
      &__wrapper {
         padding-left: 15px;
         padding-right: 15px;
      }

      &__footer {
         grid-template-columns: 1fr;
      }
   }
}