.cottage-reviews {
   overflow-x: hidden;
   position: relative;
   padding-top: 150px;

   &__wrapper {
      max-width: 1310px;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
   }

   &__header {
      // margin-bottom: 20px;
   }

   &__title {}

   &__main {
      position: relative;
   }

   &__swiper {
      overflow: unset;
      // overflow-x: hidden;
      height: 450px;
      margin-top: 35px;



      .swiper-wrapper {
         align-items: start;
      }
   }

   &__btn {
      left: 50%;
      width: 50px;
      height: 30px;
      bottom: 55px;

      &_next {
         transform: translateX(10px);
      }

      &_prev {
         transform: translateX(calc(-50% - 35px));
      }
   }

   @media(max-width: 992px) {
      padding-top: 80px;
      padding-bottom: 80px;
   }
}

.cottage-review {
   // max-width: 400px;
   opacity: 0;
   transition: 0.5s;
   padding: 20px 30px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   // height: auto;
   background: #FFF;
   /* тень */
   box-shadow: 0px 0px 80px 4px rgba(0, 0, 0, 0.10);
   max-height: 315px;

   &.swiper-slide-active,
   &.swiper-slide-active + &,
   &.swiper-slide-active + & + & {
      opacity: 1;
   }

   &__header {
      display: flex;
      gap: 12px;
   }

   &__icon {
      width: 55px;
      height: 55px;
      flex: 0 0 55px;
      border-radius: 50%;
      overflow: hidden;
   }

   &__author {
      display: flex;
      flex-direction: column;
      gap: 2px;
   }

   &__name {
      color: $dark-brown;
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      /* 24px */
   }

   &__company {
      color: $dark-green;

      /* Текст_2 (адап) */
      // font-family: $publicFont;
      font-size: 14px;
      font-weight: 300;
      line-height: 140%;
      /* 19.6px */
      letter-spacing: 0.42px;
   }

   &__main {
      overflow: hidden;
      color: $dark-brown;
      text-overflow: ellipsis;
      -webkit-line-clamp: 9;
      /* Число отображаемых строк */
      line-clamp: 9;
      display: -webkit-box;
      /* Включаем флексбоксы */
      -webkit-box-orient: vertical;
      /* Вертикальная ориентация */
      overflow: hidden;
      /* Обрезаем всё за пределами блока */
      /* Текст_2 (адап) */
      // font-family: $publicFont;

      font-size: 14px;
      font-weight: 300;
      line-height: 140%;
      /* 19.6px */
      letter-spacing: 0.42px;
      flex: 1;
   }

   &__footer {}

   &__link {
      color: $dark-green;
      // font-family: $publicFont;
      font-size: 12px;
      letter-spacing: -0.24px;
      display: inline-block;
      position: relative;

      &:hover::after {
         transform: scale(0);
      }

      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 1px;
         top: calc(100% + 1px);
         background-color: $dark-green;
         left: 0;
         transition: 0.3s;
         transform-origin: center;
      }
   }


}