@media (min-width: 1440px) {
@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 0.97222vw;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  border-radius: 0;
}

button {
  background-color: transparent;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body.lock {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-overflow-scrolling: touch;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-Black.woff2") format("woff2"), url("../fonts/OrchideaPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-BlackItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-ExtraBold.woff2") format("woff2"), url("../fonts/OrchideaPro-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-Bold.woff2") format("woff2"), url("../fonts/OrchideaPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-BoldItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-SemiBold.woff2") format("woff2"), url("../fonts/OrchideaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-Medium.woff2") format("woff2"), url("../fonts/OrchideaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-MediumItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-Regular.woff2") format("woff2"), url("../fonts/OrchideaPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-Light.woff2") format("woff2"), url("../fonts/OrchideaPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-LightItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-ExtraLight.woff2") format("woff2"), url("../fonts/OrchideaPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: OrchideaPro;
  font-display: swap;
  src: url("../fonts/OrchideaPro-ExtraLightItalic.woff2") format("woff2"), url("../fonts/OrchideaPro-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

.swiper-button-prev,
.swiper-button-next {
  margin: unset;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  width: unset;
  height: unset;
}

.swiper-button-prev img,
.swiper-button-prev svg,
.swiper-button-next img,
.swiper-button-next svg {
  width: unset;
  height: unset;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.collapse:not(.collapse_show) {
  display: none;
}

.wrapper {
  font-family: "OrchideaPro", sans-serif;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.83333vw;
}

.breadcrumbs__list li:last-child a::after {
  display: none;
}

.breadcrumbs__link {
  color: #3C3228;
  /* Текст_2 (адап) */
  font-family: "Public Sans", sans-serif;
  font-size: 0.97222vw;
  font-weight: 300;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.41667vw;
  white-space: nowrap;
}

.breadcrumbs__link::after {
  content: ">";
  font-family: "Public Sans", sans-serif;
  font-size: 0.97222vw;
  font-weight: 300;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.42px;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.55556vw;
  height: 3.33333vw;
  padding-left: 1.80556vw;
  padding-right: 1.80556vw;
  color: #FFF;
  font-size: 1.25vw;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1.3px solid #FFF;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.project-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.project-swiper-button {
  width: 3.75vw;
  height: 3.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #E5E5E566;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project-swiper-button:hover {
  background-color: #e5e5e5a5;
}

.project-swiper-pagination {
  height: 0.69444vw;
}

.project-swiper-pagination .swiper-pagination-bullet {
  height: 100%;
  width: 1.04167vw;
  background-color: #FFF;
  border-radius: 0.55556vw;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.project-swiper-pagination .swiper-pagination-bullet-active {
  width: 2.43056vw;
}

.subtitle {
  /* заголовок_2 */
  font-family: "OrchideaPro", sans-serif;
  font-size: 2.91667vw;
  font-weight: 600;
  line-height: 120%;
  /* 50.4px */
  letter-spacing: 2.1px;
  color: #3C3228;
}

.main-text {
  /* Текст_4 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.11111vw;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 0.48px;
  color: #3C3228;
}

.cottage-hero {
  position: relative;
  min-height: 53.47222vw;
}

.no-webp .cottage-hero__bg {
background: url(../img/cottage/composition-hero.png), rgba(150, 181, 171, 0.3); }

.cottage-hero__bg {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 25.6944444444%;
  z-index: 0;
}

.no-webp .cottage-hero__bg_banket {
background: url(../img/banket/hero-comp.png); }

.cottage-hero__wrapper {
  padding-top: 11.80556vw;
  padding-left: calc((100vw - 100vw) / 2 + 13.19444vw);
  position: relative;
  z-index: 1;
}

.cottage-hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.08333vw;
  margin-top: 2.36111vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cottage-hero__content {
  max-width: 46.66667vw;
}

.cottage-hero__title {
  color: #3C3228;
  /* Заголовок_1 */
  font-family: "OrchideaPro", sans-serif;
  font-size: 4.16667vw;
  font-weight: 800;
  line-height: 1.1666666667;
  /* 116.667% */
  letter-spacing: 4.2px;
  text-transform: uppercase;
}

.cottage-hero__subtitle {
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
  margin-top: 1.52778vw;
  margin-bottom: 0.83333vw;
}

.cottage-hero__text {
  margin-bottom: 1.45833vw;
  /* Текст_4 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.11111vw;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 0.48px;
}

.cottage-hero__link {
  color: #737D72;
  border: 1.3px solid #737D72;
}

.cottage-hero__house {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38.19444vw;
          flex: 0 0 38.19444vw;
}

.cottage-hero__house img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-comfort {
  position: relative;
}

.no-webp .cottage-comfort__bg {
background: url(../img/cottage/composition-bg.png), #E1D4C1; }

.cottage-comfort__bg {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 28.33333vw;
}

.cottage-comfort__wrapper {
  position: relative;
  z-index: 1;
  padding-right: 13.19444vw;
  padding-top: 8.125vw;
  padding-bottom: 11.80556vw;
}

.cottage-comfort__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.91667vw;
}

.cottage-comfort__slider {
  width: calc(48.61111vw + 70 * (100vw - 100vw) / 1120);
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cottage-comfort__swiper {
  width: 100%;
  height: 29.44444vw;
}

.cottage-comfort__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-comfort__btn {
  top: calc(100% + 2.77778vw);
}

.cottage-comfort__btn_prev {
  right: 5.97222vw;
  left: unset;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cottage-comfort__btn_next {
  right: 0;
}

.cottage-comfort__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.38889vw;
}

.cottage-comfort__description {
  margin-bottom: 0.69444vw;
}

.cottage-comfort__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (13.88889vw)[2];
  grid-template-columns: repeat(2, 13.88889vw);
  -webkit-column-gap: 1.11111vw;
     -moz-column-gap: 1.11111vw;
          column-gap: 1.11111vw;
  row-gap: 2px;
}

.cottage-comfort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.69444vw;
  color: rgba(60, 50, 40, 0.7);
  font-family: "Public Sans", sans-serif;
  font-size: 0.97222vw;
  line-height: 150%;
  /* 21px */
  letter-spacing: 0.56px;
}

.cottage-comfort__item svg,
.cottage-comfort__item img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.08333vw;
          flex: 0 0 2.08333vw;
  width: 2.08333vw;
  height: 2.08333vw;
}

.cottage-include__wrapper {
  background-color: #E1D4C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 6.94444vw 16.66667vw 6.25vw 16.66667vw;
}

.cottage-include__text {
  max-width: 73.61111vw;
  color: #3C3228;
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
}

.cottage-bath__wrapper {
  padding-top: 10.41667vw;
  padding-bottom: 10.41667vw;
}

.cottage-bath__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cottage-bath__slider {
  width: 51.38889vw;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cottage-bath__swiper {
  width: 100%;
  height: 29.44444vw;
}

.cottage-bath__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-bath__btn_prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 5.97222vw;
}

.cottage-bath__btn_next {
  right: 0;
}

.cottage-bath__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 4.16667vw;
  max-width: 33.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 9.02778vw;
}

.cottage-bath__subtitle {
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
  color: #3C3228;
  max-width: 23.75vw;
  margin-top: 2.08333vw;
  margin-bottom: 1.38889vw;
}

.cottage-bath__description {
  margin-bottom: 4.16667vw;
}

.cottage-bath__link {
  color: #737D72;
  border: 1px solid #737D72;
}

.cottage-park__wrapper {
  padding-top: 6.59722vw;
  padding-bottom: 10.41667vw;
  padding-left: calc((100vw - 100vw) / 2 + 13.19444vw);
}

.cottage-park__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cottage-park__content {
  max-width: 55.20833vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.22222vw;
}

.cottage-park__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.66667vw;
}

.cottage-park__subtitle {
  color: #3C3228;
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
}

.cottage-park__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.55556vw;
}

.cottage-park__description a {
  display: inline-block;
  color: #3C3228;
  position: relative;
  white-space: nowrap;
}

.cottage-park__description a:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.cottage-park__description a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #3C3228;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.cottage-park__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(21.52778vw + 100 * (100vw - 68.88889vw) / 448);
          flex: 0 0 calc(21.52778vw + 100 * (100vw - 68.88889vw) / 448);
  max-height: 52.08333vw;
}

.cottage-park__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-park__link {
  color: #3C3228;
  border: 1px solid #3C3228;
}

.cottage-fullpage__slider {
  position: relative;
}

.cottage-fullpage__slider::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.15%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.77)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 16.15%, rgba(0, 0, 0, 0.77) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.15%, rgba(0, 0, 0, 0.77) 100%);
  pointer-events: none;
  z-index: 1;
}

.cottage-fullpage__swiper {
  max-height: 100vh;
}

.cottage-fullpage__swiper .swiper-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cottage-fullpage__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-fullpage__btn {
  top: 50%;
}

.cottage-fullpage__btn_prev {
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  left: 3.61111vw;
}

.cottage-fullpage__btn_next {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3.61111vw;
}

.cottage-preorder__wrapper {
  background-color: #96B5AB;
  padding: 8.33333vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cottage-preorder__content {
  max-height: 37.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.33333vw;
  color: #FFF;
  text-align: center;
}

.cottage-preorder__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.41667vw;
}

.cottage-preorder__title {
  /* описание 2 */
  font-family: "OrchideaPro", sans-serif;
  font-size: 1.66667vw;
  font-weight: 600;
  line-height: 145%;
  /* 34.8px */
  letter-spacing: 1.2px;
}

.cottage-preorder__subtitle {
  font-size: 1.25vw;
  line-height: 145%;
  /* 26.1px */
  letter-spacing: 0.9px;
}

.cottage-preorder__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.66667vw;
}

.cottage-preorder__link {
  max-width: unset;
}

.cottage-houses {
  color: #FFF;
}

.no-webp .cottage-houses__wrapper {
background: url(../img/cottage/houses-bg.jpg) center/cover no-repeat; }

.cottage-houses__wrapper {
  padding-top: 11.80556vw;
  padding-bottom: 11.80556vw;
}

.cottage-houses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13.05556vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cottage-houses__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.75vw;
          flex: 0 0 23.75vw;
}

.cottage-houses__image {
  height: 29.375vw;
}

.cottage-houses__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cottage-houses__type {
  display: block;
  margin-top: 0.83333vw;
  margin-bottom: 4px;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 145%;
  /* 26.1px */
  letter-spacing: 0.9px;
}

.cottage-houses__description {
  /* Текст_4 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.11111vw;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 0.48px;
}

.cottage-houses__link {
  margin-top: 1.66667vw;
}

.cottage-reviews {
  padding-top: 10.41667vw;
}

.cottage-reviews__wrapper {
  max-width: 90.97222vw;
  margin: 0 auto;
  padding: 0 1.04167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cottage-reviews__main {
  position: relative;
}

.cottage-reviews__main::before,
.cottage-reviews__main::after {
  content: "";
  display: block;
  height: 100%;
  width: 1.04167vw;
  position: absolute;
  top: calc((100% - 21.875vw) / 2);
  top: 0;
}

.cottage-reviews__main::before {
  right: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#FFF), to(rgba(0, 0, 0, 0.03)));
  background: -o-linear-gradient(left, #FFF, rgba(0, 0, 0, 0.03));
  background: linear-gradient(to right, #FFF, rgba(0, 0, 0, 0.03));
}

.cottage-reviews__main::after {
  left: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#FFF), to(rgba(0, 0, 0, 0.03)));
  background: -o-linear-gradient(right, #FFF, rgba(0, 0, 0, 0.03));
  background: linear-gradient(to left, #FFF, rgba(0, 0, 0, 0.03));
}

.cottage-reviews__swiper {
  overflow: unset;
  overflow-x: hidden;
  height: 31.25vw;
  margin-top: 2.43056vw;
}

.cottage-reviews__swiper .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.cottage-reviews__btn {
  left: 50%;
  height: 0.69444vw;
  bottom: 6.94444vw;
}

.cottage-reviews__btn_next {
  -webkit-transform: translateX(1.38889vw);
      -ms-transform: translateX(1.38889vw);
          transform: translateX(1.38889vw);
}

.cottage-reviews__btn_prev {
  -webkit-transform: translateX(calc(-50% - 1.38889vw));
      -ms-transform: translateX(calc(-50% - 1.38889vw));
          transform: translateX(calc(-50% - 1.38889vw));
}

.cottage-review {
  padding: 1.38889vw 2.08333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.69444vw;
  background: #FFF;
  /* тень */
  -webkit-box-shadow: 0px 0px 5.55556vw 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5.55556vw 4px rgba(0, 0, 0, 0.1);
  max-height: 21.875vw;
}

.cottage-review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.83333vw;
}

.cottage-review__icon {
  width: 3.81944vw;
  height: 3.81944vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.81944vw;
          flex: 0 0 3.81944vw;
  border-radius: 50%;
  overflow: hidden;
}

.cottage-review__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.cottage-review__name {
  color: #3C3228;
  font-size: 1.38889vw;
  font-weight: 500;
  line-height: 120%;
  /* 24px */
}

.cottage-review__company {
  color: #737D72;
  /* Текст_2 (адап) */
  font-family: "Public Sans", sans-serif;
  font-size: 0.97222vw;
  font-weight: 300;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.42px;
}

.cottage-review__main {
  overflow: hidden;
  color: #3C3228;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-line-clamp: 9;
  /* Число отображаемых строк */
  line-clamp: 9;
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* Вертикальная ориентация */
  overflow: hidden;
  /* Обрезаем всё за пределами блока */
  /* Текст_2 (адап) */
  font-family: "Public Sans", sans-serif;
  font-size: 0.97222vw;
  font-weight: 300;
  line-height: 140%;
  /* 19.6px */
  letter-spacing: 0.42px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cottage-review__link {
  color: #737D72;
  font-family: "Public Sans", sans-serif;
  font-size: 0.83333vw;
  letter-spacing: -0.24px;
  display: inline-block;
  position: relative;
}

.cottage-review__link:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.cottage-review__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: calc(100% + 1px);
  background-color: #737D72;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.cottage-faq {
  padding-top: 2.77778vw;
  padding-bottom: 4.58333vw;
}

.cottage-faq__wrapper {
  max-width: 90.97222vw;
  margin: 0 auto;
  padding: 0 1.04167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.77778vw;
}

.cottage-faq__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.66667vw;
}

.cottage-spoiler {
  border-bottom: 0.5px solid #3C3228;
}

.cottage-spoiler__header {
  padding: 1.66667vw 0.83333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  gap: 2.22222vw;
}

.cottage-spoiler__header.active .cottage-spoiler__icon::after {
  opacity: 0;
}

.cottage-spoiler__title {
  color: #3C3228;
  font-size: 1.94444vw;
  font-weight: 600;
  line-height: 145%;
  /* 40.6px */
  letter-spacing: 1.4px;
}

.cottage-spoiler__icon {
  position: relative;
  width: 1.38889vw;
  height: 1.38889vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.38889vw;
          flex: 0 0 1.38889vw;
}

.cottage-spoiler__icon::after,
.cottage-spoiler__icon::before {
  content: "";
  display: block;
  height: 1px;
  width: 1.38889vw;
  position: absolute;
  background-color: #3C3228;
  top: 50%;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cottage-spoiler__icon::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cottage-spoiler__main p {
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
  padding-bottom: 1.66667vw;
  padding-left: 0.83333vw;
  padding-right: 4.02778vw;
  color: #737D72;
}

.banket-hero .cottage-hero__house {
  max-height: 38.19444vw;
}

.banket-hero .cottage-hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11.80556vw;
  padding-left: calc((100vw - 100vw) / 2 + 13.19444vw);
}

.banket-hero .cottage-hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
}

.banket-hero .cottage-hero__house {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(23.61111vw + 100 * (100vw - 68.88889vw) / 448);
          flex: 0 0 calc(23.61111vw + 100 * (100vw - 68.88889vw) / 448);
}

.banket-hero .cottage-hero__content {
  max-width: 41.66667vw;
}

.banket-hero .cottage-hero__subtitle {
  margin-top: 1.11111vw;
}

.banket-hero .cottage-hero__link {
  margin-top: 3.47222vw;
}

.banket-views {
  padding-top: 6.94444vw;
}

.banket-views__wrapper {
  position: relative;
}

.banket-views__swiper {
  height: 35.83333vw;
  position: relative;
}

.banket-views__swiper .swiper-slide {
  height: 32.84722vw;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.banket-views__swiper .swiper-slide.swiper-slide-active {
  height: 35.83333vw;
}

.banket-views__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banket-views__btn_prev {
  left: calc(25vw - 2.22222vw);
  -webkit-transform: rotate(180deg) translateX(100%);
      -ms-transform: rotate(180deg) translateX(100%);
          transform: rotate(180deg) translateX(100%);
}

.banket-views__btn_next {
  right: calc(25vw - 2.22222vw);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.banket-views__label {
  /* Текст курсивом */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  font-style: italic;
  line-height: 145%;
  /* 31.9px */
  letter-spacing: 1.1px;
  opacity: 0.8;
  color: #3C3228;
  text-align: center;
  margin-top: 3.47222vw;
}

.banket-perfect {
  padding-top: 10.06944vw;
  padding-bottom: 9.375vw;
  position: relative;
}

.banket-perfect::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, white), color-stop(20%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(top, white 10%, rgba(255, 255, 255, 0.1) 20%);
  background: linear-gradient(to bottom, white 10%, rgba(255, 255, 255, 0.1) 20%);
  z-index: 1;
}

.banket-perfect::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, white), color-stop(20%, rgba(255, 255, 255, 0.1)));
  background: -o-linear-gradient(bottom, white 5%, rgba(255, 255, 255, 0.1) 20%);
  background: linear-gradient(to top, white 5%, rgba(255, 255, 255, 0.1) 20%);
  z-index: 1;
}

.no-webp .banket-perfect__bg {
background: url(../img/banket/perfect-comp.png) center/25.69444vw repeat; }

.banket-perfect__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 25.6944444444%;
}

.banket-perfect__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.81944vw;
  padding-left: 5.55556vw;
  padding-right: 5.55556vw;
  max-width: 111.11111vw;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.banket-perfect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.38889vw;
}

.banket-perfect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.38889vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banket-perfect__icon {
  width: 4.44444vw;
  height: 4.44444vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.44444vw;
          flex: 0 0 4.44444vw;
}

.banket-perfect__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banket-perfect__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.55556vw;
  color: #3C3228;
}

.banket-perfect__subtitle {
  /* Подзаголовок_2 */
  font-family: "OrchideaPro", sans-serif;
  font-size: 1.38889vw;
  font-weight: 700;
}

.banket-perfect__text {
  /* Текст_2 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.25vw;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: 0.54px;
}

.banket-price {
  background-color: #96B5AB;
  color: #FFF;
}

.banket-price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.86111vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 111.11111vw;
  margin: 0 auto;
  padding: 8.33333vw 5.55556vw;
}

.banket-price__text {
  /* Текст_1 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.52778vw;
  line-height: 2.29167vw;
  /* 33px */
  letter-spacing: 1.6px;
}

.banket-price__text a {
  display: inline-block;
  position: relative;
  color: #FFF;
  white-space: nowrap;
}

.banket-price__text a:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.banket-price__text a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.banket-price__link {
  white-space: nowrap;
}

.banket-park .cottage-park__wrapper {
  padding-left: 0;
  padding-top: 0px;
  padding-bottom: 9.72222vw;
  padding-right: calc((100vw - 100vw) / 2 + 13.19444vw);
}

.banket-park .cottage-park__description ul li {
  margin-left: 0.625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.69444vw;
}

.banket-park .cottage-park__description ul li:not(:last-child) {
  margin-bottom: 1.38889vw;
}

.banket-park .cottage-park__description ul li::before {
  content: "•";
  font-size: 1.52778vw;
}

.banket-park .cottage-park__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 4.16667vw;
}

.banket-park .cottage-park__inner {
  gap: 0;
}

.banket-park .cottage-park__title {
  line-height: 3.81944vw;
}

.banket-park .cottage-park__subtitle {
  margin-top: 2.08333vw;
  margin-bottom: 1.73611vw;
}

.banket-park .cottage-park__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25vw + 100 * (100vw - 68.88889vw) / 448);
          flex: 0 0 calc(25vw + 100 * (100vw - 68.88889vw) / 448);
  height: 36.52778vw;
}

.banket-services {
  background-color: #E1D4C166;
}

.banket-services__wrapper {
  padding-top: 7.29167vw;
  padding-bottom: 7.63889vw;
  padding-left: 5.55556vw;
  padding-right: 5.55556vw;
  max-width: 111.11111vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75vw;
}

.banket-services__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2.84722vw;
     -moz-column-gap: 2.84722vw;
          column-gap: 2.84722vw;
  row-gap: 3.68056vw;
  color: #3C3228;
}

.banket-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.38889vw;
}

.banket-services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.40278vw;
  height: 8.40278vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.40278vw;
          flex: 0 0 8.40278vw;
  border-radius: 50%;
  overflow: hidden;
  background-color: #E1D4C1;
}

.banket-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.55556vw;
}

.banket-services__subtitle {
  /* Подзаголовок_2 */
  font-family: "OrchideaPro", sans-serif;
  font-size: 1.38889vw;
  font-weight: 700;
}

.banket-services__text {
  /* Текст_2 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.25vw;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: 0.54px;
}

.no-webp .banket-event__wrapper {
background: url(../img/banket/event1.png) right center/auto no-repeat; }

.banket-event__wrapper {
  padding-left: calc((100vw - 100vw) / 2 + 13.19444vw);
  padding-right: calc((100vw - 100vw) / 2 + 13.19444vw);
  height: 51.73611vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.66667vw;
}

.banket-event__title {
  line-height: 4.16667vw;
}

.banket-event__text {
  /* Текст_4 */
  font-family: "Public Sans", sans-serif;
  font-size: 1.11111vw;
  line-height: 140%;
  /* 22.4px */
  letter-spacing: 0.48px;
  color: #3C3228;
  max-width: 55.55556vw;
}

.banket-reviews {
  padding-top: 5.20833vw;
}

@media (max-width: 1440px) {
  .banket-views__swiper {
    height: calc(336px + 180 * (100vw - 992px) / 448);
  }

  .banket-views__swiper .swiper-slide {
    height: calc(300px + 173 * (100vw - 992px) / 448);
  }

  .banket-views__swiper .swiper-slide.swiper-slide-active {
    height: calc(336px + 180 * (100vw - 992px) / 448);
  }
}

@media (max-width: 1439px) {
  .cottage-hero__wrapper {
    padding-left: calc(16px + 174 * (100vw - 1055px) / 385);
  }

  .cottage-hero__house {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(450px + 100 * (100vw - 992px) / 448);
            flex: 0 0 calc(450px + 100 * (100vw - 992px) / 448);
  }

  .cottage-hero__title {
    font-size: 50px;
  }

  .cottage-comfort__wrapper {
    padding-right: calc(16px + 174 * (100vw - 1055px) / 385);
    padding-bottom: calc(70px + 100 * (100vw - 992px) / 448);
  }

  .cottage-comfort__slider {
    width: calc(495px + 205 * (100vw - 992px) / 448);
  }

  .cottage-bath__wrapper {
    padding-right: calc(16px + 174 * (100vw - 1055px) / 385);
    padding-bottom: calc(70px + 100 * (100vw - 992px) / 448);
  }

  .cottage-bath__slider {
    width: calc(495px + 205 * (100vw - 992px) / 448);
  }

  .cottage-park__wrapper {
    padding-left: calc(16px + 174 * (100vw - 1055px) / 385);
  }

  .banket-hero .cottage-hero__wrapper {
    padding-left: calc(16px + 174 * (100vw - 1055px) / 385);
    gap: 30px;
  }

  .banket-hero .cottage-hero__title {
    font-size: 50px;
  }

  .banket-event__wrapper {
    padding-left: calc(16px + 174 * (100vw - 1055px) / 385);
    padding-right: calc(16px + 174 * (100vw - 1055px) / 385);
  }
}

@media (max-width: 1200px) {
  .banket-park .cottage-park__wrapper {
    padding-right: 80px;
  }

  .banket-services__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1055px) {
  .cottage-hero__wrapper {
    padding-left: calc(24vw - 160px);
  }

  .cottage-hero__title {
    font-size: 40px;
  }

  .cottage-comfort__wrapper {
    padding-right: calc(24vw - 160px);
  }

  .cottage-include__wrapper {
    padding-right: calc(24vw - 160px);
  }

  .cottage-bath__wrapper {
    padding-right: calc(24vw - 160px);
  }

  .cottage-park__wrapper {
    padding-left: calc(24vw - 160px);
  }

  .cottage-preorder__wrapper {
    padding-left: calc(24vw - 160px);
    padding-right: calc(24vw - 160px);
  }

  .banket-hero .cottage-hero__wrapper {
    padding-left: calc(24vw - 160px);
  }

  .banket-hero .cottage-hero__title {
    font-size: 40px;
  }

  .banket-perfect__wrapper {
    padding-left: calc(24vw - 160px);
    padding-right: calc(24vw - 160px);
  }

  .banket-price__wrapper {
    padding-left: calc(24vw - 160px);
    padding-right: calc(24vw - 160px);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .banket-services__wrapper {
    padding-left: calc(24vw - 160px);
    padding-right: calc(24vw - 160px);
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .banket-event__wrapper {
    padding-left: calc(24vw - 160px);
    padding-right: calc(24vw - 160px);
  }
}

@media (max-width: 1039px) {
  .cottage-hero__wrapper {
    padding-left: calc(20vw - 100px);
  }

  .cottage-comfort__wrapper {
    padding-right: calc(20vw - 100px);
  }

  .cottage-include__wrapper {
    padding-right: calc(20vw - 100px);
    padding-left: calc(20vw - 100px);
  }

  .cottage-bath__wrapper {
    padding-right: calc(20vw - 100px);
  }

  .cottage-park__wrapper {
    padding-left: calc(20vw - 100px);
  }

  .cottage-preorder__wrapper {
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
  }

  .banket-event__wrapper {
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
  }
}

@media (max-width: 992px) {
  .project-swiper-button {
    width: 44px;
    height: 44px;
  }

  .cottage-hero {
    min-height: unset;
    overflow: hidden;
  }

  .cottage-hero__wrapper {
    padding-right: calc(20vw - 100px);
  }

  .cottage-hero__row {
    margin-top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cottage-hero__house {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    margin-right: calc(-20vw + 100px);
    margin-left: calc(-20vw + 100px);
  }

  .cottage-hero__bg {
    max-width: 50%;
  }

  .cottage-comfort__wrapper {
    padding-right: calc(20vw - 100px);
    padding-left: calc(20vw - 100px);
    padding-top: 32px;
    padding-bottom: 0;
  }

  .cottage-comfort__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
  }

  .cottage-comfort__slider {
    width: 100vw;
    margin-left: calc(-1 * (20vw - 100px));
  }

  .cottage-comfort__btn {
    top: unset;
    bottom: 12px;
  }

  .cottage-comfort__btn_next {
    right: 15px;
  }

  .cottage-comfort__btn_prev {
    right: 85px;
  }

  .cottage-comfort__bg {
    height: calc(100% - 100px);
  }

  .cottage-bath__wrapper {
    padding-right: calc(20vw - 100px);
    padding-left: calc(20vw - 100px);
    padding-top: 32px;
    padding-bottom: 0;
  }

  .cottage-bath__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .cottage-bath__content {
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: unset;
    gap: 12px;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .cottage-bath__description {
    margin: 0;
  }

  .cottage-bath__subtitle {
    max-width: unset;
  }

  .cottage-bath__slider {
    width: 100%;
  }

  .cottage-bath__swiper {
    height: 300px;
  }

  .cottage-bath__btn_next {
    right: 12px;
    bottom: unset;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .cottage-bath__btn_prev {
    left: 12px;
    bottom: unset;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }

  .cottage-park__wrapper {
    padding-right: calc(20vw - 100px);
    padding-bottom: 120px;
  }

  .cottage-park__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cottage-park__image {
    margin-left: calc(-1 * (20vw - 100px));
    margin-right: calc(-1 * (20vw - 100px));
    height: calc(350px + 400 * (100vw - 320px) / 672);
    width: unset;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }

  .cottage-preorder__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .cottage-houses__row {
    gap: calc(32px + 150 * (100vw - 768px) / 224);
  }

  .cottage-reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .banket-hero .cottage-hero__house {
    max-width: unset;
  }

  .banket-hero .cottage-hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .banket-views__swiper {
    height: 336px;
  }

  .banket-views__swiper .swiper-slide {
    height: 300px;
  }

  .banket-views__swiper .swiper-slide.swiper-slide-active {
    height: 336px;
  }

  .banket-views {
    padding-top: 80px;
  }

  .banket-perfect {
    padding-top: 80px;
  }

  .banket-price__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
  }

  .banket-park .cottage-park__wrapper {
    padding-left: calc(20vw - 100px);
    padding-right: calc(20vw - 100px);
  }

  .banket-park .cottage-park__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .project-swiper-button {
    width: 32px;
    height: 32px;
  }

  .subtitle {
    font-size: 36px;
  }

  .cottage-spoiler__header {
    padding: 16px 8px;
  }

  .cottage-spoiler__title {
    font-size: 22px;
  }

  .cottage-spoiler__main p {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 32px;
    padding-bottom: 16px;
  }

  .banket-views__btn_prev {
    bottom: 42px;
    left: 15px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 2;
  }

  .banket-views__btn_next {
    bottom: 42px;
    right: 15px;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    z-index: 2;
  }

  .banket-views__label {
    margin-top: 60px;
  }

  .banket-perfect__bg {
    display: none;
  }

  .banket-park .cottage-park__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .cottage-hero__wrapper {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-hero__title {
    font-size: 32px;
  }

  .cottage-hero__bg {
    display: none;
  }

  .cottage-hero__house {
    margin-left: -15px;
    margin-right: -15px;
  }

  .cottage-comfort__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-comfort__slider {
    margin-left: -15px;
  }

  .cottage-comfort__bg {
    display: none;
  }

  .cottage-comfort__description {
    margin: 0;
  }

  .cottage-include__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-bath__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-park__wrapper {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-park__image {
    margin-left: -15px;
    margin-right: -15px;
  }

  .cottage-fullpage__btn_prev {
    left: 15px;
  }

  .cottage-fullpage__btn_next {
    right: 15px;
  }

  .cottage-preorder__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cottage-preorder__footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cottage-houses__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .cottage-houses__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }

  .cottage-houses__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }

  .banket-hero .cottage-hero__wrapper {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .banket-hero .cottage-hero__title {
    font-size: 32px;
  }

  .banket-hero .cottage-hero__bg {
    display: none;
  }

  .banket-hero .cottage-hero__house {
    margin-left: -15px;
    margin-right: -15px;
  }

  .banket-perfect {
    background: none !important;
  }

  .banket-perfect__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banket-perfect__item {
    gap: 12px;
  }

  .banket-price__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banket-services__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .banket-services__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .banket-event__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    background: none !important;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 450px) {
  .breadcrumbs__list {
    overflow: auto;
    width: 100%;
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .breadcrumbs__list::-webkit-scrollbar {
    display: none;
  }

  .cottage-comfort__item {
    font-size: 12px;
    gap: 6px;
  }

  .cottage-park__title {
    font-size: 36px;
  }
}
}

@media (min-width: 1440px) {

.webp .cottage-hero__bg { background: url(../img/cottage/composition-hero.webp), rgba(150, 181, 171, 0.3); }
}

@media (min-width: 1440px) {

.webp .cottage-hero__bg_banket { background: url(../img/banket/hero-comp.webp); }
}

@media (min-width: 1440px) {

.webp .cottage-comfort__bg { background: url(../img/cottage/composition-bg.webp), #E1D4C1; }
}

@media (min-width: 1440px) {

.webp .cottage-houses__wrapper { background: url(../img/cottage/houses-bg.webp) center/cover no-repeat; }
}

@media (min-width: 1440px) {

.webp .banket-perfect__bg { background: url(../img/banket/perfect-comp.webp) center/25.69444vw repeat; }
}

@media (min-width: 1440px) {

.webp .banket-event__wrapper { background: url(../img/banket/event1.webp) right center/auto no-repeat; }
}