.banket-park {
  .cottage-park {
     &__wrapper {
        padding-left: 0;
        padding-top: 0px;
        padding-bottom: 140px;
        padding-right: calc(((100vw - 1440px) / 2) + 160px);

     }

     &__description {
      gap: 9px;

        ul li {
          margin-left: 9px;
           display: flex;
           gap: 10px;

           &:not(:last-child) {
            margin-bottom: 20px;
           }

           &::before {
              content: "\2022";
              font-size: 22px;
           }
        }
     }

     &__row {
        flex-direction: row-reverse;
        gap: 60px;
     }

     &__content {
      gap: 0;
     }

     &__inner {
      gap: 0;
     }

     &__title {
      // line-height: 55px;
      line-height: 150%;
      margin-top: -10px;
     }

     &__subtitle {
      margin-top: 20px;
      margin-bottom: 25px;
      max-width: 730px;
     }

     &__image {
        // width: calc(100 / 1250 * 100%);
        flex: 0 0 calc(360px + 100 * ((100vw - 992px) / (1440 - 992)));
        height: 530px;
     }

     &__link {
      // padding-right: 10px;
      gap: 20px;
     }

     @media(max-width: 1400px) {
      &__wrapper {
         padding-right: 80px;
      }
   }

     @media(max-width: 1200px) {
        &__wrapper {
           padding-right: 80px;
        }
     }

     @media(max-width: 992px) {
        &__wrapper {
           padding-left: calc(20vw - 100px);
           padding-right: calc(20vw - 100px);
        }

        &__row {
           flex-direction: column;
        }
     }

     @media(max-width: 768px) {
        &__wrapper {
           padding-left: 15px;
           padding-right: 15px;
        }
     }
  }
}